@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

/* Header Positioning */
#time, #timer {
    float: right;
    margin-right: 10px;
}

#highscores {
    float: left;
    margin-left: 10px;
}

body {
    background: #d2d2d2;
}

/* Start Quiz Button Positioning */
/* Display Box Positioning */
.startButton,
.displayBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% )
}

/* Start Quiz Button Styling */
.startButton button{
    font-size: 30px;
    font-weight: 500;
    color:  #ffdab9;
    border-color: #ffdab9;
    background:  #797777;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

/* Display Box Styling */
.displayBox {
    background: whitesmoke;
    color: #797777;
    border-radius: 5px;
    width: 55%;
}

/* Display Box Title Styling */
.displayBox .displayBoxTitle {
    height: 60px;
    width: 100%;
    padding: 0 35px;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    border-bottom: 1px solid#797777;
}